.thanks {
  height: 100%;
}
.wrapper {
  height: 100%;
  margin: 0 auto;
  padding: 100px 0;
  width: 80%;
  text-align: center;
  display: flex;
  align-items: center;
}
.container {
  width: 100%;
}
.inner {
  height: 100%;
}
.title {
  margin-top: 32px;
  font-size: 1.4vw;
}
.notfound {
  font-size: 3vw;
  font-weight: bold;
  line-height: 1;
}
.button {
  font-size: 1.1rem;
  position: relative;
  display: inline-block;
  padding: 18px 62px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #333;
  font-weight: bold;
}

.button-border-gradient-wrap {
  margin-top: 120px;
  display: inline-block;
  overflow: hidden;
  padding: 0.06rem;
  background: #333;
}
.button-border-gradient {
  transition: all 0.5s ease-in-out;
}

.button-border-gradient {
  background: #fafafa;
}

.button:hover span {
  color: #fff;
  position: inherit;
}

.button-border-gradient::before {
  content: "";
  position: absolute;
  top: 0;
  left: -130%;
  background: #333;

  width: 120%;
  height: 100%;
  transform: skewX(-25deg);
}
.button-border-gradient:hover::before {
  animation: skewanime 0.5s forwards;
}
@keyframes skewanime {
  100% {
    left: -10%;
  }
}
